*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100vh;
   
}


.container{
    height: 100%;
    display: flex;
     align-items: center;   
    justify-content:space-between; 
}
.left{
    display: flex;
    width: 50%;
    height: 100%;
}
.trivo{
    width: 100%;
    height: 100%;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.down{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #212121;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: 166.5%; /* 33.3px */
   
    
}

.floor{
     display: flex;
    align-items: center;
    justify-content: center; 
    color: #949494;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
gap: 20px;
    
}
.up{
    display: flex;
 gap: 20px;
} 
.center{
    display: flex;
    justify-content: center;
   align-items: center;
}

p{
    color: #949494;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
}

button{
display: flex;
width: 433px;
height: 50px;
padding: 18px 32px;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 8px;
background: #4443FF;

/* 1 */
box-shadow: 9px 9px 10px 0px rgba(114, 113, 255, 0.25);
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;

}

.number2{
    
    display: flex;
width: 433px;
height: 50px;
padding: 18px 32px;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 8px;
border: 1px solid #949494;
background: #FFF;
color: #7271FF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;



}

.required{
    width: 432.171px;
height: 40px;
flex-shrink: 0;
}
